libplugboard.xcodeproj/project.xcworkspace/contents.xcworkspacedata
libplugboard.xcodeproj/project.xcworkspace/xcuserdata/tiagorezende.xcuserdatad/UserInterfaceState.xcuserstate
libplugboard.xcodeproj/xcuserdata/tiagorezende.xcuserdatad/xcschemes/libplugboard-ios.xcscheme
libplugboard.xcodeproj/xcuserdata/tiagorezende.xcuserdatad/xcschemes/libplugboard.xcscheme
libplugboard.xcodeproj/xcuserdata/tiagorezende.xcuserdatad/xcschemes/xcschememanagement.plist